<style>
    .terminal {
        font-family: monospace;
        background-color: #000;
        color: #fff;
        padding: 20px;
        white-space: pre-wrap;
        font-size: 10px;
    }
</style>
<% unless job_execution.execution_started_at.blank? %>
  <div class="mb-3 row">
    <div class="col-sm-3"><strong class="text-dark">Logs:</strong></div>
    <div class="col-sm-9 terminal"><%= fetch_log_events(job_execution) %></div>
  </div>
<% end %>